<div class="offcanvas offcanvas-end d-none" tabindex="-1" id="offcanvasCart">
  <div class="offcanvas-header d-flex align-items-center">
    <h5 class="offcanvas-title" id="offcanvasCartLabel">Your Cart</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="d-flex flex-column justify-content-between w-100 h-100">
      <div>

        <div class="mt-4 mb-5">
          <p class="mb-2 fs-6"><i class="ri-truck-line align-bottom me-2"></i> <span class="fw-bolder">$22</span> away
            from free delivery</p>
          <div class="progress f-h-1">
            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

        <!-- Cart Product-->
        <div class="row mx-0 pb-4 mb-4 border-bottom">
          <div class="col-3">
            <picture class="d-block bg-light">
              <img class="img-fluid" src="{{webRoot}}/assets/images/products/product-1.jpg"
                alt="{{config.defaultImgAlt}}">
            </picture>
          </div>
          <div class="col-9">
            <div>
              <h6 class="justify-content-between d-flex align-items-start mb-2">
                Mens StormBreaker Jacket
                <i class="ri-close-line"></i>
              </h6>
              <small class="d-block text-muted fw-bolder">Size: Medium</small>
              <small class="d-block text-muted fw-bolder">Qty: 1</small>
            </div>
            <p class="fw-bolder text-end m-0">$85.00</p>
          </div>
        </div>

        <!-- Cart Product-->
        <div class="row mx-0 pb-4 mb-4 border-bottom">
          <div class="col-3">
            <picture class="d-block bg-light">
              <img class="img-fluid" src="{{webRoot}}/assets/images/products/product-2.jpg"
                alt="{{config.defaultImgAlt}}">
            </picture>
          </div>
          <div class="col-9">
            <div>
              <h6 class="justify-content-between d-flex align-items-start mb-2">
                Mens Torrent Terrain Jacket
                <i class="ri-close-line"></i>
              </h6>
              <small class="d-block text-muted fw-bolder">Size: Medium</small>
              <small class="d-block text-muted fw-bolder">Qty: 1</small>
            </div>
            <p class="fw-bolder text-end m-0">$99.00</p>
          </div>
        </div>

      </div>
      <div class="border-top pt-3">
        <div class="d-flex justify-content-between align-items-center">
          <p class="m-0 fw-bolder">Subtotal</p>
          <p class="m-0 fw-bolder">$233.33</p>
        </div>
        <a href="{{webRoot}}/checkout.html"
          class="btn btn-orange btn-orange-chunky mt-5 mb-2 d-block text-center">Checkout</a>
        <a href="{{webRoot}}/cart.html"
          class="btn btn-dark fw-bolder d-block text-center transition-all opacity-50-hover">View Cart</a>
      </div>
    </div>
  </div>
</div>