/* 
* Note: Do not write any CSS in this file. Only use it to import vendor CSS files from your node_modules directory.
*/

/* AOS */
@import '~aos/dist/aos.css';

/* NoUISlider */
@import '~nouislider/distribute/nouislider.min.css';

/* Simplebar */
@import '~simplebar/dist/simplebar.css';

/* Swiper.js */
@import '~swiper/swiper-bundle.css';

/* Tippy */
@import '~tippy.js/dist/tippy.css';
@import '~tippy.js/themes/light.css';
@import '~tippy.js/animations/shift-away.css';