<div class="swiper-container swiper-linked-carousel-small">

    <!-- Add Pagination -->
    <div class="swiper-pagination-blocks mb-4">
        <div class="swiper-pagination-custom"></div>
    </div>

    <div class="swiper-wrapper">

        <!-- Swiper Slide-->
        <div class="swiper-slide overflow-hidden">
            <!-- Card-->
            {{> 
                listing-cards/listing-card
                img="{{webRoot}}/assets/images/products/product-12.jpg"
                title="Mens Outdoors T-Shirt"
                options="Availble in 4 colours, 7 sizes"
                currency="$"
                price="1699.87"
                review-width="80%"
                review-count="4.7 (1669)"
            }}
            <!--/ Card-->
        </div>
        <!-- / Swiper Slide-->

        <!-- Swiper Slide-->
        <div class="swiper-slide overflow-hidden">
            <!-- Card-->
            {{> 
                listing-cards/listing-card
                img="{{webRoot}}/assets/images/products/product-1.jpg"
                title="Mens Flyroam Sneakers"
                options="Availble in 4 colours, 7 sizes"
                currency="$"
                price="1699.87"
                review-width="80%"
                review-count="4.7 (1669)"
            }}
            <!--/ Card-->
        </div>
        <!-- / Swiper Slide-->

        <!-- Swiper Slide-->
        <div class="swiper-slide overflow-hidden">
            <!-- Card-->
            {{> 
                listing-cards/listing-card
                img="{{webRoot}}/assets/images/products/product-13.jpg"
                title="Mens Flyroam Sneakers"
                options="Availble in 4 colours, 7 sizes"
                currency="$"
                price="1699.87"
                review-width="80%"
                review-count="4.7 (1669)"
            }}
            <!--/ Card-->
        </div>
        <!-- / Swiper Slide-->

    </div>
</div>