<div class="swiper-container h-100 swiper-linked-carousel-large">

    <div class="swiper-wrapper h-100">

        <!-- Swiper Slide-->
        <div class="swiper-slide">
            <div class="row g-3">
                <div class="col-12 col-md-6">
                    {{> 
                        listing-cards/listing-card
                        img="{{webRoot}}/assets/images/products/product-13.jpg"
                        title="Pocket Tee Rusty Red"
                        options="Availble in 4 colours, 7 sizes"
                        currency="$"
                        price="1699.87"
                        review-width="80%"
                        review-count="4.7 (1669)"
                    }}
                </div>
                <div class="col-12 col-md-6">
                    {{> 
                        listing-cards/listing-card
                        img="{{webRoot}}/assets/images/products/product-14.jpg"
                        title="Mens T-Shirt Rusty"
                        options="Availble in 4 colours, 7 sizes"
                        currency="$"
                        price="1699.87"
                        review-width="80%"
                        review-count="4.7 (1669)"
                    }}
                </div>
                <div class="col-12 col-md-6">
                    {{> 
                        listing-cards/listing-card
                        img="{{webRoot}}/assets/images/products/product-15.jpg"
                        title="Mens T-Shirt Phantom"
                        options="Availble in 4 colours, 7 sizes"
                        currency="$"
                        price="1699.87"
                        review-width="80%"
                        review-count="4.7 (1669)"
                    }}
                </div>
                <div class="col-12 col-md-6">
                    {{> 
                        listing-cards/listing-card
                        img="{{webRoot}}/assets/images/products/product-16.jpg"
                        title="Heather T-Shirt"
                        options="Availble in 4 colours, 7 sizes"
                        currency="$"
                        price="1699.87"
                        review-width="80%"
                        review-count="4.7 (1669)"
                    }}
                </div>
            </div>
        </div>
        <!-- /Swiper Slide-->

        <!-- Swiper Slide-->
        <div class="swiper-slide">
            <div class="row g-3">
                <div class="col-12 col-md-6">
                    {{> 
                        listing-cards/listing-card
                        img="{{webRoot}}/assets/images/products/product-2.jpg"
                        title="Mens Classic Hoodie"
                        options="Availble in 4 colours, 7 sizes"
                        currency="$"
                        price="1699.87"
                        review-width="80%"
                        review-count="4.7 (1669)"
                    }}
                </div>
                <div class="col-12 col-md-6">
                    {{> 
                        listing-cards/listing-card
                        img="{{webRoot}}/assets/images/products/product-3.jpg"
                        title="Womens Essential Hoodie"
                        options="Availble in 4 colours, 7 sizes"
                        currency="$"
                        price="1699.87"
                        review-width="80%"
                        review-count="4.7 (1669)"
                    }}
                </div>
                <div class="col-12 col-md-6">
                    {{> 
                        listing-cards/listing-card
                        img="{{webRoot}}/assets/images/products/product-4.jpg"
                        title="Sherpa Hoodie"
                        options="Availble in 4 colours, 7 sizes"
                        currency="$"
                        price="1699.87"
                        review-width="80%"
                        review-count="4.7 (1669)"
                    }}
                </div>
                <div class="col-12 col-md-6">
                    {{> 
                        listing-cards/listing-card
                        img="{{webRoot}}/assets/images/products/product-5.jpg"
                        title="Mens Flyroam Hoodie"
                        options="Availble in 4 colours, 7 sizes"
                        currency="$"
                        price="1699.87"
                        review-width="80%"
                        review-count="4.7 (1669)"
                    }}
                </div>
            </div>
        </div>
        <!-- /Swiper Slide-->

        <!-- Swiper Slide-->
        <div class="swiper-slide">
            <div class="row g-3">
                <div class="col-12 col-md-6">
                    {{> 
                        listing-cards/listing-card
                        img="{{webRoot}}/assets/images/products/product-12.jpg"
                        title="Mens Tee Faded Brown"
                        options="Availble in 4 colours, 7 sizes"
                        currency="$"
                        price="1699.87"
                        review-width="80%"
                        review-count="4.7 (1669)"
                    }}
                </div>
                <div class="col-12 col-md-6">
                    {{> 
                        listing-cards/listing-card
                        img="{{webRoot}}/assets/images/products/product-14.jpg"
                        title="Mens Flyroam T-Shirt"
                        options="Availble in 4 colours, 7 sizes"
                        currency="$"
                        price="1699.87"
                        review-width="80%"
                        review-count="4.7 (1669)"
                    }}
                </div>
                <div class="col-12 col-md-6">
                    {{> 
                        listing-cards/listing-card
                        img="{{webRoot}}/assets/images/products/product-15.jpg"
                        title="Little Brown T"
                        options="Availble in 4 colours, 7 sizes"
                        currency="$"
                        price="1699.87"
                        review-width="80%"
                        review-count="4.7 (1669)"
                    }}
                </div>
                <div class="col-12 col-md-6">
                    {{> 
                        listing-cards/listing-card
                        img="{{webRoot}}/assets/images/products/product-16.jpg"
                        title="Mens Flyroam Sneakers"
                        options="Availble in 4 colours, 7 sizes"
                        currency="$"
                        price="1699.87"
                        review-width="80%"
                        review-count="4.7 (1669)"
                    }}
                </div>
            </div>
        </div>
        <!-- /Swiper Slide-->

    </div>
</div>