<div class="row py-lg-5">

    <!-- menu row-->
    <div class="col col-lg-6 mb-5 mb-sm-0">
        <h6 class="dropdown-heading">Waterproof Layers</h6>
        <ul class="list-unstyled">
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Waterproof
                    Jackets</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Insulated
                    Jackets</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Down
                    Jackets</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Softshell
                    Jackets</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Casual
                    Jackets</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Windproof
                    Jackets</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Breathable
                    Jackets</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Cleaning &
                    Proofing</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item dropdown-link-all"
                    href="{{webRoot}}/category.html">View All</a></li>
        </ul>

    </div>
    <!-- /menu row-->

    <!-- menu row-->
    <div class="col col-lg-6">
        <h6 class="dropdown-heading">Brands</h6>
        <ul class="list-unstyled">
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Lifestyle &
                    Casual</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Walking
                    Shoes</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Running
                    Shoes</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Military
                    Boots</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Fabric Walking
                    Boots</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Leather
                    Walking Boots</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Wellies</a>
            </li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Winter
                    Footwear</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item dropdown-link-all"
                    href="{{webRoot}}/category.html">View All</a></li>
        </ul>
    </div>
    <!-- /menu row-->

</div>