<div class="pb-3">

    <!-- Product Name, Review, Brand, Price-->
    <div class="d-flex justify-content-between align-items-center mb-2">
        <p class="small fw-bolder text-uppercase tracking-wider text-muted mb-0 lh-1">Billabong</p>
        <div class="d-flex justify-content-start align-items-center">
            {{> reviews/review-stars-small }}
            <small class="text-muted d-inline-block ms-2 fs-bolder">(1288)</small>
        </div>
    </div>
    <h1 class="mb-2 fs-2 fw-bold">Coastline Plus Waterproof Stormbreaker</h1>
    <div class="d-flex justify-content-start align-items-center">
        <p class="lead fw-bolder m-0 fs-3 lh-1 text-danger me-2">$84.99</p>
        <s class="lh-1 me-2"><span class="fw-bolder m-0">$94.99</span></s>
        <p class="lead fw-bolder m-0 fs-6 lh-1 text-success">Save $10.00</p>
    </div>
    <!-- /Product Name, Review, Brand, Price-->

    <!-- Product Views-->
    <div class="d-flex justify-content-start mt-3">
        <div class="alert bg-light rounded py-1 px-2 d-table m-0">
            <div class="d-flex justify-content-start align-items-center">
                <i class="ri-fire-fill lh-1 text-orange"></i>
                <div class="ms-2">
                    <small class="opacity-75 fw-bolder lh-1">167 views today</small>
                </div>
            </div>
        </div>
    </div>
    <!-- /Product Views-->

    <!-- Product Options-->
    <div class="border-top mt-4 mb-3">
        <div class="product-option mb-4 mt-4">
            <small class="text-uppercase d-block fw-bolder mb-2">
                Colour : <span class="selected-option fw-bold">Crimson Blue</span>
            </small>
            <div class="d-flex justify-content-start">
                <div class="form-group d-inline-block mr-1 mb-1 form-check-solid-bg-checkmark form-check-custom">
                    <input type="radio" class="form-check-color-input" id="option-colour-1" name="option-colour"
                        value="Dark Black">
                    <label class="form-check-label" for="option-colour-1"></label>
                </div>
                <div
                    class="form-group d-inline-block mr-1 mb-1 form-check-solid-bg-checkmark form-check-custom form-check-warning">
                    <input type="radio" class="form-check-color-input" id="option-colour-2" name="option-colour"
                        value="Sun Yellow">
                    <label class="form-check-label" for="option-colour-2"></label>
                </div>
                <div
                    class="form-group d-inline-block mr-1 mb-1 form-check-solid-bg-checkmark form-check-custom form-check-info">
                    <input type="radio" class="form-check-color-input" id="option-colour-3" name="option-colour"
                        value="Crimson Blue" checked>
                    <label class="form-check-label" for="option-colour-3"></label>
                </div>
                <div
                    class="form-group d-inline-block mr-1 mb-1 form-check-solid-bg-checkmark form-check-custom form-check-danger">
                    <input type="radio" class="form-check-color-input" id="option-colour-4" name="option-colour"
                        value="Cherry Red">
                    <label class="form-check-label" for="option-colour-4"></label>
                </div>
            </div>
        </div>
        <div class="product-option">
            <small class="text-uppercase d-block fw-bolder mb-2">
                Size (UK) : <span class="selected-option fw-bold"></span>
            </small>
            <div class="form-group">
                <select name="selectSize" class="form-control" data-choices>
                    <option value="">Please Select Size</option>
                    <option value="Extra Small">XS</option>
                    <option value="Medium">M</option>
                    <option value="Large">L</option>
                    <option value="Extra Large">XL</option>
                </select>
            </div>
        </div>
    </div>
    <!-- /Product Options-->

    <!-- Add To Cart-->
    <div class="d-flex justify-content-between mt-3">
        <button class="btn btn-dark btn-dark-chunky flex-grow-1 me-2 text-white">Add To Cart</button>
        <button class="btn btn-orange btn-orange-chunky"><i class="ri-heart-line"></i></button>
    </div>
    <!-- /Add To Cart-->

    <!-- Socials-->
    <div class="my-4">
        {{> socials/share }}
    </div>
    <!-- Socials-->

    <!-- Special Offers-->
    <div class="bg-light rounded py-2 px-3">
        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex border-0 px-0 bg-transparent">
                <i class="ri-truck-line"></i>
                <span class="fs-6 ms-3">Standard delivery free for orders over $99. Next day delivery $9.99</span>
            </li>
        </ul>
    </div>
    <!-- /Special Offers-->

</div>