/* Listing Card Sale Badge */
.badge-sale {
    background: $danger;
    text-transform: uppercase;
    font-size: 74%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    padding: .5rem;
}