.form-group {
    margin-bottom: 1.2rem;
}

label {
    margin-bottom: .35rem;
}

.form-check-label {
    font-weight: normal;
}

.form-select-sm {
    font-size: 0.85em;
    background-image: none;
    appearance: none;
    font-weight: 500;
    cursor: pointer;
}