<!-- Checkout Shipping Address -->
<div class="checkout-panel">
  <h5 class="title-checkout">Shipping Address</h5>
  <div class="row">
    <!-- First Name-->
    <div class="col-sm-6">
      <div class="form-group">
        <label for="firstName" class="form-label">First name</label>
        <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
      </div>
    </div>

    <!-- Last Name-->
    <div class="col-sm-6">
      <div class="form-group">
        <label for="lastName" class="form-label">Last name</label>
        <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
      </div>
    </div>

    <!-- Address-->
    <div class="col-12">
      <div class="form-group">
        <label for="address" class="form-label">Address</label>
        <input type="text" class="form-control" id="address" placeholder="123 Some Street Somewhere" required="">
      </div>
    </div>

    <!-- Country-->
    <div class="col-md-12">
      <div class="form-group">
        <label for="country" class="form-label">Country</label>
        <select class="form-select" id="country" required="">
          <option value="">Please Select...</option>
          <option>United States</option>
        </select>
      </div>
    </div>

    <!-- State-->
    <div class="col-md-6">
      <div class="form-group">
        <label for="state" class="form-label">State</label>
        <select class="form-select" id="state" required="">
          <option value="">Please Select...</option>
          <option>California</option>
        </select>
      </div>
    </div>

    <!-- Post Code-->
    <div class="col-md-6">
      <div class="form-group">
        <label for="zip" class="form-label">Zip/Post Code</label>
        <input type="text" class="form-control" id="zip" placeholder="" required="">
      </div>
    </div>
  </div>

  <div class="pt-4 mt-4 border-top d-flex justify-content-between align-items-center">
    <!-- Shipping Same Checkbox-->
    <div class="form-group form-check m-0">
      <input type="checkbox" class="form-check-input" id="same-address" checked>
      <label class="form-check-label" for="same-address">Use for billing address</label>
    </div>
  </div>
</div>
<!-- /Checkout Shipping Address -->