<svg class="img-fluid" viewbox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
    <path d="
                    M 0, 79
                    C 0, 0 0, 0 79, 0
                    S 158, 0 158, 79
                        158, 158 79, 158
                        0, 158 0, 79
                " fill="currentColor" transform="rotate(
                    45,
                    100,
                    100
                ) translate(
                    21
                    21
                )">
    </path>
    </svg>