<!-- Card Product-->
<div class="card position-relative h-100 card-listing hover-trigger">
    {{#if discount-percentage}}
        <span class="badge card-badge bg-secondary">{{ discount-percentage }}</span>
    {{/if}} 
    <div class="card-header">
        <picture class="position-relative overflow-hidden d-block bg-light">
            <img class="w-100 img-fluid position-relative z-index-10" title="" src="{{ img }}" alt="{{config.defaultImgAlt}}">
        </picture>
        {{#if img-hover}}
            <picture class="position-absolute z-index-20 start-0 top-0 hover-show bg-light">
                <img class="w-100 img-fluid" title="" src="{{ img-hover }}" alt="{{config.defaultImgAlt}}">
            </picture>
        {{/if}}
        <div class="card-actions">
            <span class="small text-uppercase tracking-wide fw-bolder text-center d-block">Quick Add</span>
            <div class="d-flex justify-content-center align-items-center flex-wrap mt-3">
                <button class="btn btn-outline-dark btn-sm mx-2">S</button>
                <button class="btn btn-outline-dark btn-sm mx-2">M</button>
                <button class="btn btn-outline-dark btn-sm mx-2">L</button>
            </div>
        </div>
    </div>
    <div class="card-body px-0 text-center">
        <div class="d-flex justify-content-center align-items-center mx-auto mb-1">
            {{> reviews/review-stars-small width=review-width }} <span class="small fw-bolder ms-2 text-muted"> {{ review-count }}</span>
        </div>
        <a class="mb-0 mx-2 mx-md-4 fs-p link-cover text-decoration-none d-block text-center"
            href="{{webRoot}}/product.html">{{ title }}</a>
            {{# if sale-price}}
            <div class="d-flex justify-content-center align-items-center mt-2">
                <p class="mb-0 me-2 text-danger fw-bolder">{{ currency }}<span>{{ sale-price }}</span></p>
                <p class="mb-0 text-muted fw-bolder"><s>{{ currency }}<span>{{ price }}</span></s></p>
            </div>
        {{ else }}
            <p class="fw-bolder m-0 mt-2">{{ currency }}{{ price }}</p>
        {{/if}}
    </div>
</div>
<!--/ Card Product-->
